.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
##/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/assets/aktifkuliah/*
/assets/arsip/*
/assets/bebaslab/*
/assets/bebasperpus/*
/assets/berkaswisuda/*
/assets/klinis/*
/assets/naspub/*
/assets/qrcode/*
/assets/surat_selesai/*
!/assets/aktifkuliah/index.html
!/assets/arsip/index.html
!/assets/bebaslab/index.html
!/assets/bebasperpus/index.html
!/assets/berkaswisuda/index.html
!/assets/klinis/index.html
!/assets/naspub/index.html
!/assets/qrcode/index.html
!/assets/surat_selesai/index.html
/application/config/config.php
/application/config/database.php
